.App {
  text-align: center;
}

.App-logo {
  height: 10vmin; 
  pointer-events: none;
  position: absolute; 
  top: 20px; 
  right: 20px; 
}

.App-header {
  background-color: #152b56;
  min-height: 15vh; /* Adjusted height for the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin); /* Smaller font size */
  color: white;
  padding: 20px;
  position: relative; /* Set to relative to contain the absolutely positioned logo */
}

.Project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.Project-image {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px; /* Slightly rounded corners */
  margin-bottom: 10px; /* Space below the image */
}

.Project-card {
  background-color: #153456;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Project-card h2 {
  margin: 0;
}

.Project-link {
  color: #61dafb;
  text-decoration: none;
}

.Project-link:hover {
  text-decoration: underline;
}
