.App {
  text-align: center;
}

.App-logo {
  height: 20vmin; /* Adjusted size for the logo */
  pointer-events: none;
  position: absolute; /* Position it absolutely */
  top: 20px; /* Adjust this value as needed */
  right: 20px; /* Adjust this value as needed */
}

.App-header {
  background-color: #282c34;
  min-height: 60vh; /* Adjusted height for the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin); /* Smaller font size */
  color: white;
  padding: 20px;
  position: relative; /* Set to relative to contain the absolutely positioned logo */
}

.Project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.Project-card {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Project-card h2 {
  margin: 0;
}

.Project-link {
  color: #61dafb;
  text-decoration: none;
}

.Project-link:hover {
  text-decoration: underline;
}
